@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-light" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="text-center">
   <h1 class="display-4">Agenda Online</h1>
   <div>
       <img src="/img/Agenda.png"/>
   </div>
</div>
